DARAJA_ENV=production
DARAJA_CONSUMER_KEY=
DARAJA_CONSUMER_SECRET=
DARAJA_STK_SHORTCODE=
DARAJA_STK_PASSKEY=
DARAJA_STK_PARTY_B=
DARAJA_STK_TRANSACTION_TYPE=CustomerPayBillOnline
DARAJA_B2C_INITIATOR_NAME=
DARAJA_B2C_SECURITY_CREDENTIAL=
DARAJA_B2C_SHORTCODE=
DARAJA_B2C_COMMAND_ID=BusinessPayment
DARAJA_B2C_API_VERSION=v3
USD_TO_KES_RATE=130
PUBLIC_APP_URL=
