PAYHERO_AUTH_TOKEN=
PAYHERO_PASSWORD=
PAYHERO_PASWORD=
PAYHERO_USERNAME=
PAYHERO_CHANNEL_ID=
PUBLIC_APP_URL=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_PROJECT_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASEE_PUBLISHABLE_KEY=
